<form [formGroup]="form" (ngSubmit)="login()" class="container-usm form">
  <h1>Iniciar sesión</h1>

  <div class="form-group">
    <label for="email">Email:</label>
    <input 
      [class.is-valid]="validInput('email')"
      [class.is-invalid]="invalidInput('email')"
      type="email" 
      id="email" 
      placeholder="Ingrese su email"
      formControlName="email"
    >
    <div class="messages" [class.active]="invalidInput('email')">
      <p>
        <strong *ngIf="emailField?.hasError('required')"><span>*</span> Este campo es requerido</strong>
      </p>
      <p>
        <strong *ngIf="emailField?.hasError('email')"><span>*</span> El email es inválido</strong>
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Contraseña:</label>
    <input 
      [class.is-valid]="validInput('password')"
      [class.is-invalid]="invalidInput('password')"
      id="password" 
      type="password" 
      placeholder="Ingrese su contraseña"
      formControlName="password"
    >
    <div class="messages" [class.active]="invalidInput('password')">
      <p>
        <strong *ngIf="passwordField?.hasError('required')"><span>*</span> Este campo es requerido</strong>
      </p>
      <p>
        <strong *ngIf="passwordField?.hasError('minlength')"><span>*</span> Mínimo 4 caracteres</strong>
      </p>
      <p>
        <strong *ngIf="passwordField?.hasError('maxlength')"><span>*</span> Máximo 10 caracteres</strong>
      </p>
    </div>
  </div>

  <div class="form-group">
    <button  class="button-inverted width-100 button-submit" type="submit">Iniciar sesión</button>
  </div>
  
</form>