/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url(./styles/reset.scss);
@import url(./styles/button-styles.scss);

:root{
  --principal-color: #ACD9B2;
  --principal-color-darken: #84a588;
}

*{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Clases globales reutilizables
.container{
  width: 90%;
  margin: 0 auto;
}

.container-sm{
  width: 70%;
  margin: 0 auto;
}

.container-usm{
  width: 50%;
  margin: 0rem auto;
}

// Estilos globales para la validación de los inputs
input{
  &.is-valid{
    border: 2px solid green !important;
  }

  &.is-invalid{
    border: 2px solid red !important;
  }
}

.messages{
  opacity: 0;
  height: 0;
  transition: all .3s ease;

  span{
    color: red;
  }

  &.active{
    opacity: 1;
    height: auto;
  }
}

.products--grid{
  app-img{
    img{
      border-radius: 10px;
    }
  }
}